/*Estilo para los campos de entrada, tanto login como registro*/
.card {
    transition: transform 0.3s ease;
}
.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.card-body {
    padding: 2rem !important;
}
.btn-primary {
    padding: 10px;
    font-weight: bold;
}